<a href="https://colab.research.google.com/github/vjatgit/Illinois-Tech-PG/blob/Python-Gen-AI-ML/Python_Basics_Edureka_Sep_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basics**

In [ ]:
print("Hello to python world")

Hello to python world

**Variables**
A python variable is reserved memory location to store any values

In [ ]:
age=45
print(age)

age=55
print(age)

print(id(age))

print(hex(id(age)))

print(type(age))

45
55
11643816
0xb1aba8
<class 'int'>

In [ ]:
#Rules for Variable names
var123=45
#123var=100 #varaible names must start from an alphabate
#!@#$%^&*()

total_amount=15200
#keywords: if,for,class

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Python is case sensetive language
amount=1000
Amount=2000
print(Amount)

2000

**Python Data types: Numerical Datatypes, strings, Sequences(collection datatypes)**

In [ ]:
age=45
print(type(age))

<class 'int'>

Numerical Data types: int,float,complex

In [ ]:
#int
var=1000
var=-69
print(var)

-69

In [ ]:
#float
rate_of_intrest=14.99
print(type(rate_of_intrest))

<class 'float'>

In [ ]:
#complex
var=1+2j
print(var)
print(type(var))

(1+2j)
<class 'complex'>

In [ ]:
#Boolean
var=False
print(var)
print(type(var))

False
<class 'bool'>

In [ ]:
#Strings
mystr='This is a sample string'
print(mystr)
print(type(mystr))

This is a sample string
<class 'str'>

In [ ]:
mystr="The 'Sun' rises in east"
print(mystr)

The 'Sun' rises in east

In [ ]:
#multiline string
mystr="""
This is
a
sample
multiline string
"""
print(mystr)

This is
a
sample
multiline string

**Dynamic Typing**

In [ ]:
#Static typing   int age=45;

var=120
print(type(var))

var="Sample string"
print(type(var))

var=45.36
print(type(var))

var=[10,20,30]
print(type(var))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

**Python Operators**

In [ ]:
#Aithmetic operators
#+,-,*,/,//,%,**
print(45+36)
print(45-36)
print(45*36)

print(10/3)  #Division
print(10//3)  #Floor division:returns on int part
print(10%3)  #Modulo/remainder  operator

print(7**3)  #x^y

81
9
1620
3.3333333333333335
3
1
343

In [ ]:
#Assignment operators =,+=,-=
age=45
print(age)

age+=10
print(age)

age-=5
print(age)

In [ ]:
#Relational/Conditional Operators
#<,>,<=,>=,==,!=